In [1]:
print(100)

100

In [2]:
# Comment

In [4]:
# variable : a variable is a placeholder for any data

In [ ]:
# Rules 1. a variable cant start with a digit 2.

In [5]:
# Datatype 1. string 2. FLoat 3. Integer 4. Complex 5. None 6. Boolean

In [19]:
# commands
#1. type() 
#2. print()
#3. input()

In [15]:
print(100)
print(100, 3.5, "item", True )

100
100 3.5 item True

In [17]:
x = 10, 23,2.9,"python",True

In [20]:
type(x)

tuple

In [21]:
# Formatting

In [1]:
a=1 
b=2 
c=3
print("my {} is {} and {}" .format(a,b,c)) # .format(h=c, g=b,j=a)

my 1 is 2 and 3

In [36]:
print(" lets count", {a}, "and", {b}, "then", {c})

 lets count {1} and {2} then {3}

In [4]:
print(f"HI {a} and {b}")

HI 1 and 2