In [15]:
# # List 
# list is a collection of elements.
# we can store homogeneous and hetrpgenous both kinds of data 
# list are mutable: changable in namture 
# list arealos indexable and sliceable

In [19]:
f  = [10,20,30,40,15,16,17,80,90,78]

In [17]:
t = [10,15,2.3,5.6,'python', "data", 5+6j,[9,8,0,"sql"], (14,15,16), {7,8,9}, {"A":1, "B":2}]

In [18]:
type(t)

list

In [19]:
f = [10,20,30,40,15,16,17,80,90,78]

print(f)  # Output: [1, 2, 4, 5]

[10, 20, 30, 40, 15, 16, 17, 80, 90, 78]

In [20]:
f[-1]

78

In [21]:
f[::-1]

[78, 90, 80, 17, 16, 15, 40, 30, 20, 10]

In [22]:
# methords

In [23]:
f.append(140)

In [ ]:
f.insert(0, 'data')

In [24]:
f.append(80)

In [ ]:
f.pop()

In [10]:
f.reverse()

In [11]:
f

[10, 15, 16, 17, 20, 30, 40, 78, 80, 90]

In [9]:
f.reverse()

In [14]:
f.sort()

In [6]:
f.sort(reverse=True)

In [7]:
f

[90, 80, 78, 40, 30, 20, 17, 16, 15, 10]

In [12]:
# Membership operator

In [13]:
f

[10, 15, 16, 17, 20, 30, 40, 78, 80, 90]

In [15]:
90 in f

True

In [16]:
"data" in f

False

In [17]:
#Loop

In [18]:
for i in f:
    print(i**2)

100
225
256
289
400
900
1600
6084
6400
8100

In [1]:
#append vs extend

In [ ]:
f.append()

In [39]:
f.extend("5")

In [ ]:
t.sort()

In [20]:
c = "welcome to the course"

In [21]:
c.split()

['welcome', 'to', 'the', 'course']

In [23]:
" ".join(c)

'w e l c o m e   t o   t h e   c o u r s e'

In [24]:
#list comprehension

In [26]:
j = list(range(1,10))

In [36]:
x=[]

for i in range(1,10):
    x.append(i**2)

In [29]:
[i**2 for i in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
a=[]

for i in range(1,21):
    if i%2==0:
     a.append(i**2)

In [33]:
{i**2 for i in range (1,21) if i%2==0}

{4, 16, 36, 64, 100, 144, 196, 256, 324, 400}

In [40]:
w = []
for i in range(1,21):
    if i%2==0:
        w.append(i**2)
    else:
        w.append(i**3)

In [42]:
{i**2 if i%2==0 else i**3 for i in range(1,21)}

{1,
 4,
 16,
 27,
 36,
 64,
 100,
 125,
 144,
 196,
 256,
 324,
 343,
 400,
 729,
 1331,
 2197,
 3375,
 4913,
 6859}