In [ ]:
# Set or dictionary

In [ ]:
# # # Set : 
# # # 1. Set is also a sequence but it only stores unique elements
# # # 2. set is ordered in nature
# # 3. Set is not indexable since it is unordered
# 4. Set is mutable

In [ ]:
a = set ()

In [ ]:
a = {}

In [ ]:
z = []

In [ ]:
type

In [7]:
k = {4,5,7,8,8,3,45,5,6,7,3,2,1,1,1,1,22}

In [ ]:
k.add(12)

In [ ]:
k

In [ ]:
k.add(12)

In [ ]:
k[1]

In [8]:
for i in k:
    print(i)

1
2
3
4
5
6
7
8
45
22

In [ ]:
51 in k

In [ ]:
1 in k

In [34]:
s1 = {1,2,3,4,5,6,7,8,9}
s2 = {6,7,8,9,10,11,12,13}

In [10]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [12]:
s1.symmetric_difference(s2)

{1, 2, 3, 4, 5, 10, 11, 12, 13}

In [13]:
(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [14]:
s1 & s2

{6, 7, 8, 9}

In [29]:
(s1 | s2) - (s1 & s2)

{1, 2, 3, 4, 5, 10, 11, 12, 13}

In [33]:
s1 - s2

set()

In [32]:
s2 - s1

set()

In [16]:
# Dictionary

In [17]:
# 1. Collection of elements : stores data in Key value pairs
# 2. Dictionary is ordered
# 3. Indexing is possible : we can access values with the help of key
# 4. Dictionaries are muteable

In [18]:
g = {}

In [19]:
type(g)

dict

In [20]:
h = [(1,"abc"),(2,"xyz"),(3, "pqr"),(4,"asd"),(5,"poi")]

In [21]:
type(h)

list

In [22]:
h = dict(h)

In [23]:
type(h)

dict

In [24]:
h

{1: 'abc', 2: 'xyz', 3: 'pqr', 4: 'asd', 5: 'poi'}

In [25]:
{}

{}

In [42]:
user_info = {
    "name" :"Kamal",
    "age" :22,
    "nationality" : "indiam"
}

In [40]:
user_info

{'name': 'Kamal', 'age ': 22, 'nationality': 'indiam'}

In [37]:
user_info["name"]

'Kamal'

In [43]:
user_info["age"]

22

In [44]:
user_info["nationality"]

'indiam'

In [ ]:
user_info[]

In [ ]:
user_info["hobby"]

In [45]:
# Nested dictionary

In [46]:
canteen_menu = {
    "samosa" : 20,
    "pizza" : 100,
    "burger" : 120,
    "fruits" : {
        "apple" : 150,
        "mango" : 200,
        "banana" : 300,
        "juice" : ['Small', "medium","large"],
    },
    "momos" : {
        "veg_momos" : 140,
        "non_veg_momos" : 260,
        "tandoori_momos":{
            "malai_tandoori" : 170,
            "garay_momos": 900,
            "cheese_momos":280,
            "paneed_momos":{
                "dry_paneer":180,
                "gravy_paneer":280
            }
        }
    }

    }

In [47]:
canteen_menu["momos"]["tandoori_momos"]["paneed_momos"]["gravy_paneer"]

280